* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
}

@font-face {
  font-family: "existencelight";
  src: local("existencelight"), url("../font/existence-light.woff") format("woff");
}  
    
   