%variabels {
  text-align: center;
  padding: 10px;
  h2 {
    display: inline-block;
    position: relative;
    padding: 10px;
    &::before,
    &::after {
      border: solid rgb(166, 66, 154);
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
    }
    &::before {
      bottom: 0;
      border-width: 0 0 2px 2px;
      left: 0;
    }
    &::after {
      border-width: 2px 2px 0 0;
      right: 0;
      top: 0;
    }
  }
}

%text_position {
  margin: 0 auto;
  max-width: 90%;
}

%header_flex_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

%backgroundImg {
  height: 280px;
  ;
  width: auto;
}

%flex_row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

%flex_column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

%button {
  height: 50px;
  width: 140px;
  background: $KaraColor;
  border-radius: 4%;
  color: #fff;
  margin: 0 auto;
}