.backgroundImg {
  @extend %backgroundImg;
  background: url(../img/section-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  .header_flex_box {
    @extend %header_flex_box;
  }
  .box-8 {
    background: url(../img/icoMsg.png) no-repeat;
    padding-top: 170px;
    padding-bottom: 10px;
    background-position: center;
    text-align: center;
    span {
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      color: $backgroundColorNav;
    }
  }
}